body {
    background-color: lightgray;
}

h1 {
    text-align: right;
}

hr {
    margin-top: 22px;
    margin-bottom: 22px;
    border: 0;
    height: 1px;
    background-color: grey;
}

.links {
    margin-left: 40em;
    margin-top: 4em;
}

img {
    border-radius: 20px;
    margin: 10px;
    max-width: 300px;
    vertical-align: middle;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

mark {
    background-color: yellow;
    color: black
}

a {
    color: #BC1bb0;
    text-decoration: none;
    background-color: transparent;
}

a:active {
    color: red
}

a:visited {
    color: purple
}

a:hover {
    color: purple;
}

a:-webkit-any-link {
    box-sizing: border-box;
}

#p {
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}

#div_top_hypers {
    background-color: transparent;
    position: absolute;
    text-align: center;
}

#ul_top_hypers li {
    word-spacing: 2px;
    display: inline;
    margin: 1.7em;
    padding: 0;
    flex-wrap: inherit;
}

.name {
    display: inline-block;
    position: static;
    top: 75px;
    left: 450px;
    margin: 0;
}

.center {
    font-size: 1.7em;
    text-align: center;
}

.email {
    font-size: 1.2em;
    text-align: center;
}

#hr-row {
    display: flex;
    flex-direction: row;
    height: 2em;
}

.date {
    float: right;
    margin: 0.5em;
}

table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 22px;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    box-sizing: border-box;
    display: table;
    text-indent: initial;
    border-color: gray;
}

* {
    box-sizing: border-box;
}

*:before, *:after {
    box-sizing: border-box;
}

.fa-star:before {
    content: \f005;
}

em {
    font-style: italic;
}

td {
    display: table-cell;
}