body {
    background-color: lightgray;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 1.42857243;
    color: #333333;
    background-color: #ffffff;
    padding-top: 70px;
    margin: 0;
    display: block;
}

* {
    box-sizing: border-box;
}

.navbar {
    font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
    min-height: 65px;
    margin-bottom: 22px;
    border: 1px solid transparent;
}

.navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

div {
    display: block;
}

html {
    -webkit-text-size-adjust: 100%;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #cccccc;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
        border-top-left-radius: 1px;
        border-top-right-radius: 1px;
        border-bottom-right-radius: 1px;
        border-bottom-left-radius: 1px;

}

